RULE {{CLASS}}_{{METHOD}}_{{PHASE}}
{{TYPE}} {{PACKAGE}}.{{CLASS}}
METHOD {{METHOD}}
AT {{PHASE}}
BIND logger:org.jboss.logging.JBossLogManagerLogger = linked("LOGGER");
stringBuilder:java.lang.StringBuilder = new java.lang.StringBuilder();
IF TRUE
DO logger.info(stringBuilder.append(Thread.currentThread().getId()).append(":{{SUBSYSTEM}}:{{CLASS}}.{{METHOD}}:{{PHASE}}:").append(System.nanoTime()).toString());
ENDRULE
