RULE {{CLASS}}_{{METHOD}}_{{PHASE}}
{{TYPE}} {{PACKAGE}}.{{CLASS}}
METHOD {{METHOD}}
AT {{PHASE}}
IF TRUE
DO
traceOpen("callTrace","{{LOG_FILE}}");
traceln("callTrace",""+Thread.currentThread().getId()+":{{SUBSYSTEM}}:{{CLASS}}.{{METHOD}}:{{PHASE}}:"+System.nanoTime())
ENDRULE
